@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  --bg: hsl(0, 0%, 98%);
  --color-text: hsl(200, 15%, 8%);
  --color-darkBlue-text: hsl(0, 0%, 100%);
  --color-input-text: hsl(0, 0%, 52%);
  --color-darkGray: hsl(0, 0%, 52%);
  --color-white: hsl(0, 0%, 100%);
  --color-inset-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.01),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

html[data-theme="dark"] {
  --bg: hsl(207, 26%, 17%);
  --color-text: hsl(0, 0%, 100%);
  --color-darkBlue-text: hsl(200, 15%, 8%);
  --color-input-text: hsl(0, 0%, 100%);
  --color-darkGray: hsl(0, 0%, 52%);
  --color-white: hsl(0, 0%, 100%);

  --color-inset-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.01),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

body {
  background-color: var(--bg);
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-text);
}

/* Global Attributes */
.header,
.search-input,
.filter-region,
.country {
  background: var(--color-darkBlue-text);
}

/* App */
.App {
  width: inherit;
  height: inherit;
}

/* Header */
.header {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80px;
  padding: 1.6% 0px 3% 7%;
  box-shadow: 0px 5px 9px #d9d9d9;
}

.header > .moonIcon-and-DarkModeText {
  margin: 0.8% 0px 0px 0px;
  width: 15%;
  display: flex;
  flex-wrap: wrap;
}

.header > strong {
  font-size: 25px;
}

.header > .moonIcon-and-DarkModeText > .darkMode {
  width: 50%;
}

.header > .moonIcon-and-DarkModeText > label > .fas {
  cursor: pointer;
  height: 40px;
  margin: -12px 0px 0px 0px;
}

label input[type="checkbox"] {
  -webkit-appearance: none;
}
/*  */

label input[type="checkbox"]:checked ~ .fas {
  /*  */
}

.header > .moonIcon-and-DarkModeText > .darkMode {
  font-weight: bold;
}

/* Main Tag */

main {
  width: 100%;
  padding: 3% 7% 0px 6.5%;
}

.search-and-filter-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-container {
  width: 30%;
}

.filter-container {
  width: 15%;
}

.country-container {
  width: 100%;
  margin: 3% 0px 0px 0px;
}

/* Search Input */
.search-input {
  width: 100%;
  display: flex;
  height: 50px;
  padding: 0px 0px 0px 2%;
  border-radius: 5px;
  font-size: 14px;
  color: var(--color-input-text);
  box-shadow: 1px 3px 6px #d9d9d9;
}

.search-icon {
  font-size: 25px;
  margin: 4% 30px 0px 0px;
}

.search-input > input[type="text"] {
  width: 100%;
  height: inherit;
  border: none;
  border-radius: 5px;
  outline: none;
}

/* ** Filter by Region** */
.filter-region {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  color: var(--color-input-text);
  box-shadow: 1px 3px 6px #d9d9d9;
  font-weight: bold;
}

.filter-region > select {
  width: 100%;
  height: inherit;
  border-radius: 5px;
  outline: none;
  padding: 0px 13px;
  border: none;
}

/* Country Container */
.country {
  margin-top: 0px;
  width: 18%;
  border-radius: 5px;
  box-shadow: 2px 5px 12px #d9d9d9;
}

img {
  width: 100%;
  height: 180px;
}

.content {
  width: 100%;
  height: 150px;
  padding: 8% 0px 0px 10%;
}

.content > h2,
.other-content > h5 {
  font-weight: bold;
}

.other-content {
  margin: 5% 0px 0px 0px;
  width: 100%;
  font-size: 14px;
}
.other-content > h5 {
  margin: 0px 0px 1% 0px;
}
.other-content > h5 > .item {
  color: var(--color-input-text);
}
